/* GLOBAL FONTS */
@font-face {
    font-family: 'Grad';
    src: url('Grad.eot');
    src: local('Grad'),
         local('Grad Bold'),
				 local('Grad Italic'),
         url('Grad.ttf') format('truetype')
}

/* END GLOBAL FONTS */

/* NAVBAR */
.navbar {
	width: 100%;
	height: 60px;
	background-color: white;
}

.content-top {
	background-color: #ededed;
}

/* GENERAL */
body {
	margin: 0;
}

/* END GENERAL */
