$default-background-color:			#fff;
$default-color:						#000;
$default-font-size:					16px;
$default-font-stack:				'Merriweather', serif;
$default-font-stack-heading:		'Lato', Helvetica, Arial, sans-serif;
$default-page-width:				1140px;
$default-page-padding:				30px;

$header-height:						140px;
$section-padding-tb:				100px;

.container {
	max-width: $default-page-width;
	margin: 0 auto; padding: 0 $default-page-padding;
	display: block;
	position: relative;
}

* {
	box-sizing: border-box;
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
	font-family: $default-font-stack;
}

body {
	font-size: $default-font-size;
	background: $default-background-color;
	color: $default-color;
}

nav.header {
	width: 100%; height: $header-height;
	position: absolute;
	top: 0;
	font-family: $default-font-stack-heading;
	background: none;
	color: #fff;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			// text-decoration: underline;
		}
	}
	h1 {
		font-weight: normal;
		margin: 0;
	}

	&>.container {
		text-align: right;

		&>* {
			display: inline-block;
			line-height: $header-height;
		}
	}
	.title {
		position: absolute;
		left: $default-page-padding;
		font-size: 0.75em;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.4em;
		user-select: none;
		cursor: default;
	}
	ul.menu {
		margin: 0; padding: 0;
		list-style: none;
		font-size: 0.75em;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		user-select: none;

		&>li {
			margin-left: 24px;
			display: inline-block;

			&:first-child {
				margin-left: 0;
			}

			a {
				opacity: 0.75;

				transition: opacity 0.2s ease-in-out;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

section.banner {
	width: 100%; height: 440px;
	padding-top: $header-height;
	background: #000;
	// background-image: url('../img/la-outline.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;

	box-sizing: content-box;

	.container {
		height: 100%;
		padding-bottom: $header-height*(2/3); // adjust for header with background: none
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.title .word, .subtitle {
		margin: 0;
		user-select: none;
	}
	.title {

		&>* {
			display: inline-block;
		}

		.word {
			font-family: $default-font-stack-heading;
			font-size: 4.209em;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
	}
	.subtitle {
		margin: 10px 0;
		// font-size: 1.333em;
		font-weight: 400;
		letter-spacing: 0.1em;
		line-height: 1.8em;

		.underline {
			text-decoration: underline;
		}
		.schwa {
			margin-bottom: -2px; margin-left: -1px; // tweaks to account for rotation
			display: inline-block;
			transform: rotate(180deg);
			vertical-align: middle;
		}
		.pofs {
			font-style: italic;
		}
		.num {
			font-weight: 900;
		}
		.highlight {
			margin-right: 0.1em; padding-left: 0.1em; // compensate for letter-spacing
			font-weight: 700;
			background: #fff;
			color: #000;
		}
	}
	img {
		width: 260px;
		position: absolute;
		right: $default-page-padding + 20px;
		align-self: flex-end;

	}
}

section.content {
	padding: $section-padding-tb 0 0;
	text-align: left;

	h2 {
		margin: 0 0 $section-padding-tb/2;
		display: inline-block;
		font-family: $default-font-stack-heading;
		font-size: 2.369em;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.05em;

		.icon {
			width: 28px; height: 28px;
			display: inline-block;
			background: #000;
		}
	}
	p {
		margin: 0;
		line-height: 2em;
	}
}
section.whatwedo {
	h2 .icon {
		margin-right: 20px;
	}
	p {
		// text-indent: 40px;
	}
}

section.work {
	h2 .icon {
		margin-right: 20px;
	}
	.project {
		margin-bottom: $default-page-padding/2;
		// padding: 0 $default-page-padding;

		&>* {
			height: 300px; // TEMP
			&>.card {
				width: 100%; height: 100%;
				padding: $default-page-padding;
				background: #efefef; // TEMP
			}
		}
		&>*:first-child {
			padding-right: 10px;
		}
		&>*:last-child {
			padding-left: 10px;
		}
		.project-info {
			// padding-right: $default-page-padding/2;
			text-align: right;

			.card {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background: #000;
				color: #fff;
			}
			h3.project-name {
				margin: 0 0 10px;
				font-family: $default-font-stack-heading;
				font-size: 1.777em;
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 0.1em;
			}
			h4.project-client {
				margin: 0;
				font-family: $default-font-stack-heading;
				font-size: 0.75em;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 0.4em;
			}
			// p.project-description {
			// 	// width: 80%;
			// 	font-family: $default-font-stack-heading;
			// 	// font-size: 0.9em;
			// 	// font-style: italic;
			// 	line-height: 1.5em;
			// }
		}
		.project-screenshots {
			// background: #efefef; // TEMP
		}
	}
}

section.values {
	text-align: left;

	.container {

	}
	h2 .icon {
		margin-right: 20px;
		background: #000;
	}
	h3 {
		margin: 0 0 30px;
		font-size: 1.333em;
		font-family: $default-font-stack-heading;
		line-height: 1.7em;
	}
	.divider {
		width: 25%; height: 2px;
		margin-bottom: 30px;
		display: inline-block;
		background: #000;
	}
	p {
		// margin-bottom: 80px; // only at breakpoint
	}
	.pure-g {
		text-align: left;

		&>* {
			padding: 0 20px;
			box-sizing: border-box;
		}
	}
}

section.team {
	text-align: left;

	h2 .icon {
		margin-right: 20px;
	}
	.profiles {
		padding: 0 ($default-page-padding - 10px);

		.member {
			padding: 0 10px 20px;
			font-size: 0; // fixes extra space at the bottom of the photo

			.photo {
				position: relative;

				&.is-alumni {
					opacity: 0.5;
					.info {
					}
				}

				img {
					width: 100%;
				}
				.info, .alumni {
					font-family: $default-font-stack-heading;
					font-size: $default-font-size * 0.75;
					font-weight: 900;
					text-transform: uppercase;
					letter-spacing: 0.2em;
					color: #fff;
				}
				.info {
					width: 100%; height: 17%;
					padding-left: 25px;
					position: absolute;
					right: 10px; bottom : 10px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					background: #000;
				}
				.alumni {
					padding: 5px 10px 5px 11px;
					position: absolute;
					top: 10px; right: 10px;
					background: #000;

				}
			}
		}
	}
}

section.contact {
	h2 .icon {
		margin-right: 20px;
	}
}

footer.footer {
	margin-top: $section-padding-tb; padding: $section-padding-tb 0;
	font-family: $default-font-stack-heading;
	font-size: 0.75em;
	letter-spacing: 0.2em;
	background: #000;
	color: #fff;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.copy {
		font-weight: 900;
	}
	.la {
		font-weight: 900;

		.heart {
			// font-size: $default-font-size;
			color: #ff007f;
		}
	}
}
